---
layout: default
---
<div class="content">
<div class="content-map">
  <div class="map-page" id="map-page-container">

    <div class="left-container" id="left-map-container">
      {% assign variable = 1 %}
      {% for item in site.data.apartments %}
        {% assign apartment_id    = item.aptName | slugify %}
        <div id="{{ item.code}}" class="icon-container">
          <div class="icon-container-content">

            <img src="assets/images/icons-01.png" class="map icon-normal">

              <label for="{{ apartment_id }}" class="icon-button">

                <input type="radio"
                        name="content-toggle"
                        tabindex="{% increment variable %}"
                        value="{{ apartment_id }}"
                        id="{{ apartment_id }}"
                        class="icon-hover">
                <img src="assets/images/icons-02.png" class="map icon-hover">
                <p>{{ item.aptName }}</p>

              </label>

          </div>
        </div>
      {% endfor %}

    <img src="assets/images/Map.png" class="map-img" id="map-image">
    </div>

  </div>
  <div class="button-container">
    <button type="button" class="apartments-up"><p>&#8963;</p></button>

    <div class="right-container" id="parent">
      <div class="base-content">

        <h1>Apartment Listings</h1>
        <h3>Apartment hunting <i>by</i>
        <p> Click on any of the icons on the map or listings below to see more information about the apartment.<br><br>We rate our apartments based on our knowledge and reviews of maintenance, management, pest control, and general happiness of tenants. We're not perfect though, so <a href="https://forms.gle/Uf2M8rjU7J2nE84y7" target="_blank" class="not-it">submit a review</a> to improve our ratings!</p>

        <div class="apartment-card-container">
        {% for item in site.data.apartments %}
        {% assign apartment_id    = item.aptName | slugify %}
            <div class="apartment-card">
              <label for="{{ apartment_id }}" class="icon-button">

                <h3>{{ item.aptName }}</h3>

                <p {% if item.totalRating == "?" %}class="rating unrated"{% else %}class="rating totalRating"{% endif %}">rating:
                  {% if item.totalRating == "good" %}
                    &#9733;&#9733;&#9733;
                  {% elsif item.totalRating == "mid" %}
                    &#9733;&#9733;&#9734;
                  {% elsif item.totalRating == "bad" %}
                    &#9733;&#9734;&#9734;
                  {% else %}
                    unrated
                  {% endif %}
                </p>

                <!-- number of rooms -->
                {% if item.code == "LOF" %}
                  <p>{{ item.numOfBeds }}</p>
                {% else %}
                  <p>{{ item.numOfBeds }} beds</p>
                {% endif %}

                <!-- low range of rent -->
                <p>
                {% if item.code == "LOF" %}
                  {{ item.twoBedLow }} -
                {% elsif item.code == "ASC" %}
                  {{ item.fourBedLow }} -
                {% elsif item.code == "CAN" %}
                  {{ item.fourBedLow }} -
                {% elsif item.code == "MPT" %}
                  {{ item.fourBedLow }} -
                {% elsif item.code == "CHE" %}
                  {{ item.oneBedLow }}+
                {% elsif item.code == "RAM" %}
                  {{ item.twoBedLow }} -
                {% elsif item.code == "GRO" %}
                  up to {{ item.oneBedHigh }}
                {% elsif item.studioLow contains "$" %}
                  {{ item.studioLow }} -
                {% elsif item.oneBedLow contains "$" and item.studioLow == "" %}
                  {{ item.oneBedLow }} -
                {% elsif item.twoBedLow contains "$" and item.oneBedLow == "" %}
                  {{ item.twoBedLow }} -
                {% endif %}

                <!-- high range of rent -->
                {% if item.code == "LOF" %}
                  {{ item.twoBedHigh }}/person
                {% elsif item.code == "ASC" %}
                  {{ item.studioLow }}/person
                {% elsif item.code == "CAN" %}
                  {{ item.oneBedLow }}/person
                {% elsif item.code == "MPT" %}
                  {{ item.studioLow }}/person
                {% elsif item.code == "RAM" %}
                  {{ item.studioLow }}/person
                {% elsif item.fourBedHigh contains "$" %}
                  {{ item.fourBedHigh }}
                {% elsif item.fourBedLow contains "$" and item.fourBedHigh == "" %}
                  {{ item.fourBedLow }}
                {% elsif item.threeBedHigh contains "$" and item.fourBedLow == "" %}
                  {{ item.threeBedHigh }}
                {% elsif item.threeBedLow contains "$" and item.threeBedHigh == "" %}
                  {{ item.threeBedLow }}
                {% elsif item.twoBedHigh contains "$" and item.threeBedLow == "" %}
                  {{ item.twoBedHigh }}
                {% elsif item.twoBedLow contains "$" and item.threeBedHigh == "" %}
                  {{ item.twoBedLow }}
                {% endif %}

                </p>


                <img src="assets/images/apartments/{{ item.aptName | slugify }}.png">
                <input type="radio"
                        name="content-opener"
                        tabindex="{% increment variable %}"
                        value="{{ apartment_id }}"
                        id="{{ apartment_id }}"
                        class="icon-hover">

              </label>
            </div>
        {% endfor %}
        </div>

      </div>


      {% for item in site.data.apartments %}
        {% assign apartment_id    = item.aptName | slugify %}
        <div class="{{ apartment_id }} apartment-content" id="{{ apartment_id }}-content">
          <button type="button" class="uncheck"> &#8592; back to listings</button>

          <div class="apartment-content-header">
            <h1>{{ item.aptName }}</h1>
            <p class="rating totalRating">rating:
              {% if item.totalRating == "good" %}
                &#9733;&#9733;&#9733;
              {% elsif item.totalRating == "mid" %}
                &#9733;&#9733;&#9734;
              {% elsif item.totalRating == "bad" %}
                &#9733;&#9734;&#9734;
              {% else %}
                unrated
              {% endif %}
            </p>
          </div>

          <a href="{{ item.websiteLink }}" target="_blank" class="website-link">Visit their site</a>
          <p >Managed by {{ item.managementCompany }}</p>
          <p>{{ item.address }}</p>

          {% if item.distance != "" %}
            <p><strong>{{ item.distance }} miles | {{ item.walk }} min walk to the compass</strong></p>
          {% endif %}

          <div class="apartment-page-icons">
            <p class="rating">maintence:
              {% if item.maintenance == "good" %}
                &#9733;&#9733;&#9733;
              {% elsif item.maintenance == "mid" %}
                &#9733;&#9733;&#9734;
              {% elsif item.maintenance == "bad" %}
                &#9733;&#9734;&#9734;
              {% else %}
                unrated
              {% endif %}
            </p>

            <p class="rating">management:
              {% if item.management == "good" %}
                &#9733;&#9733;&#9733;
              {% elsif item.management == "mid" %}
                &#9733;&#9733;&#9734;
              {% elsif item.management == "bad" %}
                &#9733;&#9734;&#9734;
              {% else %}
                unrated
              {% endif %}
            </p>

            <p class="rating">pest control:
              {% if item.pests == "good" %}
                &#9733;&#9733;&#9733;
              {% elsif item.pests == "mid" %}
                &#9733;&#9733;&#9734;
              {% elsif item.pests == "bad" %}
                &#9733;&#9734;&#9734;
              {% else %}
                unrated
              {% endif %}
            </p>
          </div>

          <!-- <img src="assets/images/Map.png" class="apartment-content-image"> -->
          <p class="apt-description">{{ item.locationDesc }}{% if item.youWant !="" %} You should rent here if {{ item.youWant }}{% endif %}</p>

          <hr>

          <div class="table-div prices-div">
            <h3>Prices</h3>
            <table class="main-table prices-table">
              {% if item.studioLow contains "$" %}
              <tr>
                <th>studio</th>
                <td>{{ item.studioLow }}
                  {% if item.studioHigh contains "$" %}
                    - {{ item.studioHigh }}
                  {% endif %}
                </td>
              </tr>
              {% endif %}


              {% if item.oneBedLow contains "$" %}
              <tr>
                <th>one bed</th>
                <td>{{ item.oneBedLow }}
                  {% if item.oneBedHigh contains "$" %}
                    - {{ item.oneBedHigh }}
                  {% endif %}
                </td>
              </tr>
              {% endif %}

              {% if item.twoBedLow contains "$" %}
              <tr>
                <th>two bed</th>
                <td>{{ item.twoBedLow }}
                  {% if item.twoBedHigh contains "$" %}
                    - {{ item.twoBedHigh }}
                  {% endif %}
                </td>
              </tr>
              {% endif %}

              {% if item.threeBedLow contains "$" %}
              <tr>
                <th>three bed</th>
                <td>{{ item.threeBedLow }}
                  {% if item.threeBedHigh contains "$" %}
                    - {{ item.threeBedHigh }}
                  {% endif %}
                </td>
              </tr>
              {% endif %}

              {% if item.fourBedLow contains "$" %}
              <tr>
                <th>four bed</th>
                <td>{{ item.fourBedLow }}
                  {% if item.fourBedHigh contains "$" %}
                    - {{ item.fourBedHigh }}
                  {% endif %}
                </td>
              </tr>
              {% endif %}
            </table>
          </div>

          <hr>

          <div class="table-div features-div">
            <h3>Features</h3>
            <table class="main-table features-table">
              <tr>
                <th>utilities</th>
                <td>{% if item.utilities == "no electric" %}all except electric
                    {% elsif item.utilities != "?"%}{{ item.utilities }}
                    {% else %}info not found{% endif %}
                </td>
              </tr>

              <tr>
                <th>wifi</th>
                <td>{% if item.wifi == "yes"%}high speed wifi
                    {% else %}unreliable or slow{% endif %}
                </td>
              </tr>

              <tr>
                <th>a/c</th>
                <td>{% if item.ac == "yes"%}central A/C
                    {% else %}{{ item.ac }}{% endif %}
                </td>
              </tr>

              <tr>
                <th>laundry</th>
                <td>{% if item.laundry == "in-unit"%}in-unit washer/drayer
                    {% elsif item.laundry != "?" %}{{ item.laundry }}
                    {% else %}info not found{% endif %}
                </td>
              </tr>

              <tr>
                <th>parking</th>
                <td>{{ item.parkingInfo }}</td>
              </tr>

              <tr>
                <th>pets</th>
                {% if item.pets == "no"%}
                  <td>not allowed</td>
                {% else %}
                  <td>{{ item.pets }}</td>
                {% endif %}
              </tr>

              <tr>
                <th>secure entry</th>
              {% if item.secureEntry == "yes"%}
                <td>secure entry</td>
              {% else %}
                <td>no secure entry</td>
              {% endif %}
              </tr>

            </table>
          </div>

          <hr>

          {% if item.amenities != "" or item.fitnessCenter == "yes" %}
          <div class="table-div amenities-div">
            <h3>Amenities</h3>


            <ul>
              {% if item.fitnessCenter == "yes" %}
                <li>fitness center</li>
              {% endif %}

              {% assign amenities = item.amenities | split: "," %}

              {% for amenity in amenities %}
                <li>{{ amenity }}</li>
              {% endfor %}
            <ul>
          </div>

          <hr>
          {% endif %}


          <div class="table-div problems-div">
            <div>
            <h3>Reported problems</h3>
            <a class="aaaa not-it" href="https://forms.gle/Uf2M8rjU7J2nE84y7" target="_blank">submit a review</a>

            </div>

          <div class="problems-div-div">
            {% if item.problems != "" %}
              <ul>
                {% assign problems = item.problems | split: "," %}

                {% for problem in problems %}
                  <li>{{ problem }}</li>
                {% endfor %}
              <ul>
              {% else %}
              <p>this apartment has no reported problems. <a class="not-it" href="https://forms.gle/Uf2M8rjU7J2nE84y7" target="_blank">submit a review</a></p>
            {% endif %}
          </div>



          </div>

        </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>


<script>
  const ele = document.getElementById('map-page-container');
  ele.scrollTop = 200;
  ele.scrollLeft = 500;
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  $(document).ready(function(){
      $('input[type="radio"]').click(function(){
          var inputValue = $(this).attr("value");
          var target = $("." + inputValue);

          $(".apartment-content").not(target).hide();
          $(".base-content").hide();

          $(target).show();
      });

      $('.uncheck').click(function(){
        var inputValue = $(this).attr("value");
        var target = $("." + inputValue);

        $(".apartment-content").hide();
        $(".base-content").show();
        $(target).hide();
        $('input[name="content-toggle"]').prop('checked', false);
      });
  });
</script>

<script>
  var $button = $('.apartments-up');
  var $container = $('.right-container');
  $button.click(function(){
    $button.toggleClass('slide-button');
    $container.toggleClass('slide-container');
  });
</script>

<script src="assets/js/drag-to-scroll/src/jquery.dragnscroll.js"></script>
<script>
  $('.map-page').dragNscroll({
  acceleration:.25,
  deceleration:.25,
  decelRate:50,
  })
</script>
