<nav class="navigation">
  <div class="nav-logo home-radar">
    <h1 class="home-radar">Home<br>Radar</h1>
  </div>
  <div class="nav-buttons">
    {% for item in site.data.navigation %}
      {% if item.url contains "https" %}
        <a href="{{ item.link }}" class="len1">{{ item.name }}</a>
      {% else %}
        <a href="{{ baseurl }}{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %} class="len2">{{ item.name }}</a>
      {% endif %}
    {% endfor %}
  </div>
</nav>
