<nav class="navigation">
  <div class="nav-logo home-radar">
    <!-- <img src="assets/images/icons-01.png" class="icon"> -->
    <h1 class="home-radar">Home<br>Radar</h1>
  </div>

  <div class="normal-nav">
    <div class="nav-buttons">
      {% for item in site.data.navigation %}
        {% if item.name == "FAQ" and page.url == "/faq.html"%}
          <a href="{{ baseurl }}{{ item.link }}" class="current">{{ item.name }}</a>
        {% else %}
          <a href="{{ baseurl }}{{ item.link }}" class="{% if page.url == item.link or page.url contains "about" and item.link contains "about" %}current{% endif %}">{{ item.name }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="mobile-nav">
    <button type="button" class="menu">
      <div class="line line-1"></div>
      <div class="line line-2"></div>
      <div class="line line-3"></div>
    </button>

    <div class="nav-buttons mobile-nav-buttons" id="mobileMobile">
      {% for item in site.data.navigation %}
        {% if item.name == "FAQ" and page.url == "/faq.html"%}
          <a href="{{ baseurl }}{{ item.link }}" class="current">{{ item.name }}</a>
        {% else %}
          <a href="{{ baseurl }}{{ item.link }}" class="{% if page.url == item.link or page.url contains "about" and item.link contains "about" %}current{% endif %}">{{ item.name }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  var $menuButton= $('.menu');
  var $menuContainer = $('.mobile-nav-buttons');
  $menuButton.click(function(){
    $menuButton.toggleClass('menu-click');
    $menuContainer.toggleClass('menu-slide');
  });
</script>
