<nav class="navigation">
  <div class="nav-logo home-radar">
    <h1 class="home-radar">Home<br>Radar</h1>
  </div>

  <div class="normal-nav">
    <div class="nav-buttons">
      {% for item in site.data.navigation %}
        {% if item.url contains "https" %}
          <a href="{{ item.link }}">{{ item.name }}</a>
        {% else %}
          <a href="{{ baseurl }}{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="mobile-nav">
    <button type="button" class="menu">
      <div class="line line-1"></div>
      <div class="line line-2"></div>
      <div class="line line-3"></div>
    </button>

    <div class="nav-buttons mobile-nav-buttons" id="mobileMobile">
      {% for item in site.data.navigation %}
        {% if item.url contains "https" %}
          <a href="{{ item.link }}">{{ item.name }}</a>
        {% else %}
          <a href="{{ baseurl }}{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  var $menuButton= $('.menu');
  var $menuContainer = $('.mobile-nav-buttons');
  $menuButton.click(function(){
    $menuButton.toggleClass('menu-click');
    $menuContainer.toggleClass('menu-slide');
  });
</script>
