$white: white;

$pink: #E4BEB7;
$pink-05: rgba(228, 191, 184,.05);
$pink-25: rgba(228, 191, 184,.25);
$pink-50: rgba(228, 191, 184,.5);
$mid-pink: #8e5e55;
$dark-pink: #64433D;
$dark-pink-50: rgba(99, 67, 61, .5);

$blue-gray: #ADBDD4;
$blue-gray-50: #adbdd4e4;

$light-teal: #92D2D9;
$teal: #3896A0;
$dark-teal: #0e5860;


$green-gray: #B9CDD0;
$dark-green-gray: #4D6E73;
$dark-green-gray-50: #4d6e73ec;
$dark-green-gray-2: #33494D;

$dark-blue: rgb(44,60,82);

$light-cream: #FFFCF4;
$light-cream-50: rgba(255, 252, 244, .5);
$cream: #DEC9B8;
