$pink: #E4BEB7;
$dark-pink: #64433D;
$dark-pink-50: rgba(99, 67, 61, .5);

$blue-gray: #ADBDD4;

$light-teal: #92D2D9;
$teal: #3896A0;

$green-gray: #B9CDD0;
$dark-green-gray: #4D6E73;
$dark-green-gray-2: #33494D;

$light-cream: #FFFCF4;
$light-cream-50: rgba(255, 252, 244, .5);
$cream: #DEC9B8;
