.faq-page {
    position: relative;
    top: 80px;
}

.accordion {
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    cursor: pointer;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .dropdown {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }