#DIS { //district square apts
  position: absolute;
  top: 680px;
  left: 995px;
}

#LAN { //landmark 1700
  position: absolute;
  top: 625px;
  left: 270px;
}

#GRA { //grace & monroe apts
  position: absolute;
  top: 690px;
  left: 850px;
}

#MON { //monroe park towers
  position: absolute;
  top: 685px;
  left: 790px;
}


#PAR { //Park Plaza at Belvidere
  position: absolute;
  top: 705px;
  left: 780px;
}

#BER { //the berkshire
  position: absolute;
  top: 740px;
  left: 860px;
}

#TOW { //the towers on franklin
  position: absolute;
  top: 785px;
  left: 920px;
}

#COL { //colliseum lofts
  position: absolute;
  top: 370px;
  left: 500px;
}


#CHE { //chesterfield apts
  position: absolute;
  top: 570px;
  left: 643px;
}

#CIR { //Circ apts
  position: absolute;
  top: 410px;
  left: 475px;
  width: 50px;
}

#ONE { //One Canal Apts
  position: absolute;
  top: 945px;
  left: 915px;
}

#LOF { //lofts @ capital garage
  position: absolute;
  top: 420px;
  left: 565px;
}

#JAM { //the james
  position: absolute;
  top: 260px;
  left: 1050px;
}

#PIN { //pine courts
  position: absolute;
  top: 815px;
  left: 695px;
}

#EAG { //eagle mill lofts
  position: absolute;
  top: 345px;
  left: 595px;
}

#SQU { //the square
  position: absolute;
  top: 530px;
  left: 670px;
}

#ASC { //ascend
  position: absolute;
  top: 330px;
  left: 495px;
}

#WES { //1200 west marshall
  position: absolute;
  top: 405px;
  left: 670px;
}

#IRO { //Iron house
  position: absolute;
  top: 410px;
  left: 550px;
}

#WBR { //1318 W Broad
  position: absolute;
  top: 370px;
  left: 550px;
}

#MPT { //marshall park townhomes
  position: absolute;
  top: 530px;
  left: 835px;
}

#BIG { //Biggs building
  position: absolute;
  top: 465px;
  left: 750px;
}

#MEZ { //the mezzo lofts
  position: absolute;
  top: 750px;
  left: 1000px;
}

#TAE { //T and E apartments
  position: absolute;
  top: 490px;
  left: 660px;
}

#MAR { //Marshall Adams Apts
  position: absolute;
  top: 680px;
  left: 1040px;
}

#THE { //Theater row apartments
  position: absolute;
  top: 725px;
  left: 970px;
}

#ART { //Artisan Alley
  position: absolute;
  top: 670px;
  left: 900px;
}

#CAR { //cary belvidere
  position: absolute;
  top: 815px;
  left: 740px;
}

#L15 {
  position: absolute;
  top: 345px;
  left: 525px;
}

#RAM { //RAMZ Apartments on Broad
  position: absolute;
  top: 525px;
  left: 705px;
}

#GRO { //1005 Grove apartments
  position: absolute;
  top: 625px;
  left: 557px;
}

#COR { //cornish brewery
  position: absolute;
  top: 380px;
  left: 680px;
}


#CAN { //8 1/2 canal st
  position: absolute;
  top: 940px;
  left: 875px;
}
