#DIS { //district square apts
  position: absolute;
  top: 685px;
  left: 1000px;
}

#LAN { //landmark 1700
  position: absolute;
  top: 625px;
  left: 270px;
}

#GRA { //grace & monroe apts
  position: absolute;
  top: 672px;
  left: 832px;
}

#MON { //monroe park towers
  position: absolute;
  top: 670px;
  left: 775px;
}


#PAR {
  position: absolute;
  top: 690px;
  left: 765px;
}

#BER { //the berkshire
  position: absolute;
  top: 715px;
  left: 840px;
}

#TOW { //the towers
  position: absolute;
  top: 765px;
  left: 900px;
}

#COL { //colliseum lofts
  position: absolute;
  top: 380px;
  left: 510px;
}


#CHE { //chesterfield apts
  position: absolute;
  top: 570px;
  left: 643px;
}

#CIR { //Circ apts
  position: absolute;
  top: 410px;
  left: 475px;
  width: 50px;
}

#ONE { //One Canal Apts
  position: absolute;
  top: 950px;
  left: 920px;
}

#LOF { //lofts @ capital garage
  position: absolute;
  top: 430px;
  left: 570px;
}

#JAM { //the james
  position: absolute;
  top: 260px;
  left: 1050px;
}

#PIN { //pine courts
  position: absolute;
  top: 820px;
  left: 695px;
}

#EAG { //eagle mill lofts
  position: absolute;
  top: 345px;
  left: 595px;
}

#SQU { //the square
  position: absolute;
  top: 530px;
  left: 670px;
}

#ASC { //ascend
  position: absolute;
  top: 330px;
  left: 495px;
}

#WES { //1200 west marshall
  position: absolute;
  top: 400px;
  left: 670px;
}

#IRO { //Iron house
  position: absolute;
  top: 410px;
  left: 550px;
}

#WBR { //Iron house
  position: absolute;
  top: 380px;
  left: 550px;
}
