@import "fonts.scss";
@import "colors.scss";

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background: $light-cream;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $poppins;
  color: $dark-green-gray-2;
}

p {
  font-family: $jost;
  color: $dark-green-gray;
  padding: 0;
  margin: 0;
}

.navigation {
  background: $pink;
  box-shadow: 0 0 10px 0 $dark-pink-50;
  width: 100vw;
  height: 110px;
  padding: 10px 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.nav-buttons {
  font-family: $quicksand;

  a{
    color: $dark-green-gray;
    font-size: 20px;
    padding: 15px;
    margin: 0;
    transition: ease .3s;

    &:hover {
      background: $light-cream-50;
      color: $dark-green-gray-2;
    }
  }
}

.home-radar {
  font-family: $poppins;
}

.nav-logo {
  font-family: $poppins;
  font-size: 30px;
  line-height: 40px;
  color: $dark-green-gray;
}

.current {
  background: $light-cream;
  color: $dark-green-gray-2 !important;

  a:hover {
    background: $light-cream-50;
  }
}


//CONTENT

div.content {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .map-page {
    width: 65vw;
    min-height: 1000px;
    height: calc(100vh - 90px);
    position: absolute;
    top: 110px;
    left: 0;
    overflow-y: scroll;
    overflow-x: scroll;

    .left-container {
      max-width: 65vw;
      // min-width: 1000px;
      height: 100%;
      position:relative;
      overflow: hidden;
      overflow-y: scroll;
      overflow-x: scroll;
      object-fit: contain;
      height: 130%;
      z-index: 1;

      .map-img {
        height: 100%;
        transform: translate(-20%, 0%);
        position: absolute;
        top: 0;
        left: 0;
      }

      .map-icons {
        position: absolute;
        width: 300px;
        display: inline-block;
        display: flex;
        flex-flow: nowrap;
        // justify-content: center;
        // align-items: center;
        // flex-wrap: nowrap;
        z-index: 10;


        img{
          max-height: 25px;
          transform: translate(-10%, 0%);
        }

        .icon-hover-container {
          height: 30px;
          width: 100%;
          display: flex;
          flex-flow: nowrap;
          position: relative;
          right: 19px;
          bottom: 2px;
          transition: ease .3s;
          z-index: 15;

          p {
            opacity: 0;
            position: relative;
            top: 3px;
            transition: ease .3s;
            cursor: default;
          }


          .icon-hover {
            // position: absolute;
            // top: 0;
            // left: 0;
            opacity: 0;
            max-height: 30px;
            transition: ease .3s;
          }

          .icon-hover:hover {
            opacity: 1;
            cursor: pointer;
          }
          .icon-hover:hover + p {
            opacity: 1;
          }
        }
      }
    }

    .right-container{
      background: $light-cream;
      box-shadow: 0 0 10px 0 $dark-pink-50;
      width: 40vw;
      min-width: 300px;
      height: 100%;
      padding: 20px 40px;
      position: fixed;
      right: 0;
      top: 110px;
      z-index: 100;
    }
  }
}

#DIS {
  position: absolute;
  top: 400px;
  left: 500px;
}

#LAN {
  position: absolute;
  top: 600px;
  left: 300px;
}

#GRA {
  position: absolute;
  top: 200px;
  left: 800px;
}

#MON {
  position: absolute;
  top: 450px;
  left: 345px;
}

#PAR {
  position: absolute;
  top: 600px;
  left: 700px;
}

#BER {
  position: absolute;
  top: 400px;
  left: 800px;
}

#TOW {
  position: absolute;
  top: 200px;
  left: 200px;
}

#DOW {
  position: absolute;
  top: 600px;
  left: 300px;
}

.table-page {
  display: flex;


  th {
    font-family: $quicksand;
  }

  tr {
    font-family: $jost;
  }
}
