

@import "fonts.scss",
        "colors.scss",
        "locations.scss",
        "content.scss";

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background: $light-cream;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $poppins;
  color: $dark-green-gray-2;
}

p, td, th, li {
  font-family: $jost;
  color: $dark-green-gray;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.navigation {
  background: $pink;
  box-shadow: 0 0 10px 0 $dark-pink-50;
  width: 100vw;
  height: 100px;
  padding: 10px 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
}

.nav-buttons {
  font-family: $quicksand;

  a{
    color: $dark-green-gray;
    font-size: 20px;
    padding: 15px;
    margin: 0;
    transition: ease .3s;

    &:hover {
      background: $light-cream-50;
      color: $dark-green-gray-2;
    }
  }
}

.home-radar {
  font-family: $poppins;
}

.nav-logo {
  font-family: $poppins;
  font-size: 24px;
  line-height: 32px;
  color: $dark-green-gray;
}

.current {
  background: $light-cream;
  color: $dark-green-gray-2 !important;

  a:hover {
    background: $light-cream-50;
  }
}


//CONTENT

div.content {
  max-width: 100vw;
  min-height: calc(100vh - 100px);
  position: relative;
  top: 100px;
  overflow: hidden;

  .map-page {
    width: 65vw;
    min-height: 1000px;
    height: calc(100vh - 90px);
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;

    .left-container {
      max-width: 65vw;
      // min-width: 1000px;
      height: 130%;
      position:relative;
      object-fit: contain;
      overflow: none;
      cursor: grab;

      .map-img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }

      .icon-container {
        position: absolute;

        .icon-container-content {
          position: relative;
          display: flex;
          flex-flow: nowrap;
          align-items: center;

          [type=radio] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
          }

          img {
            max-height: 25px;
            // transform: translate(-10%, 0%);
          }

          .icon-normal {
            position: relative;
            z-index: 1;
          }

          .icon-hover {
            max-height: 30px;
            position: relative;
            right: 27px;
            opacity: 0;
            cursor: pointer;
            transition: ease .2s;
            z-index: 1;
          }

          p {
            background: white;
            border-radius: 10px;
            height: 20px;
            padding: 0 8px;
            position: relative;
            right: 25px;
            top: 4px;
            white-space: nowrap;
            cursor: default;
            display: none;
            transition: ease .3s;
          }

          .icon-button {
            display: flex;
          }

          .icon-hover:hover {
            opacity: 1;
          }

          .icon-hover:hover + p {
            position: relative;
            display: block;
            z-index: 999;
          }

          [type=radio]:checked + img {
            opacity: 1;
          }

          [type=radio]:checked + p {
            position: relative;
            display: block;
            z-index: 999;
          }
        }
      }
    }

    .right-container{
      background: $light-cream;
      box-shadow: 0 0 10px 0 $dark-pink-50;
      width: 40vw;
      min-width: 300px;
      height: 90vh;
      // max-height: 10000px;
      padding: 20px 40px;
      position: fixed;
      right: 0;
      top: 100px;
      overflow-y:scroll;
      overflow-x:hidden;
      z-index: 9999;

      [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

      .apartment-content {
        margin: 0;
        word-break: break-word
      }


    }
  }
}

.table-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .table-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  th {
    font-family: $quicksand;
    background: $teal;
    color: $light-cream;
    padding: 5px 10px;

    &:hover {
      cursor: pointer;
    }
  }

  tr {
    font-family: $jost;
  }
}


// #district-square-apts:checked~#parent #district-square-apts,
// #landmark-at-1700:checked~#parent #landmark-at-1700,
// #grace-and-monroe-apts:checked~#parent #grace-and-monroe-apts,
// #monroe-park-towers:checked~#parent #monroe-park-towers,
// #park-plaza-at-belvidere:checked~#parent #park-plaza-at-belvidere,
// #the-berkshire:checked~#parent #the-berkshire,
// #the-towers-on-franklin:checked~#parent #the-towers-on-franklin,
// #biggs-building-apartments:checked~#parent #biggs-building-apartments,
// #columbia-apartments:checked~#parent #columbia-apartments,
// #artisan-alley:checked~#parent #artisan-alley,
// #theatre-row:checked~#parent #theatre-row,
// #marshall-adams-apt:checked~#parent #marshall-adams-apt,
// #t-and-e-apts:checked~#parent #t-and-e-apts,
// #the-mezzo-lofts:checked~#parent #the-mezzo-lofts,
// #iron-house-apartments:checked~#parent #iron-house-apartments,
// #ascend:checked~#parent #ascend,
// #the-square:checked~#parent #the-square,
// #eagle-mill-apartments-lofts:checked~#parent #eagle-mill-apartments-lofts,
// #pine-courts:checked~#parent #pine-courts,
// #colliseum-lofts:checked~#parent #colliseum-lofts,
// #the-james:checked~#parent #the-james,
// #the-lofts-at-capital-garage:checked~#parent #the-lofts-at-capital-garage,
// #one-canal:checked~#parent #one-canal,
// #circ-apartments:checked~#parent #circ-apartments,
// #chesterfield-apartments:checked~#parent #chesterfield-apartments,
// #1200-west-marshall:checked~#parent #1200-west-marshall,
// #marshall-park-townhomes:checked~#parent #marshall-park-townhomes,
// #1318-w-broad:checked~#parent #1318-w-broad {
// background: red
// }
//
// #the-james:checked {
//   content: "no"
// }
