@media screen and (max-width: 700px) {

  .normal-nav {
    display: none;
  }

  .mobile-nav {
    display: block;

    .menu {
      background: none;
      border: none;
      height: 30px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      position: absolute;
      top: 35px;
      right: 10vw;
      transition: ease .3s;
      z-index: 1000000000;
    }

    .line {
      border-top: 4px solid $dark-green-gray-2;
      width: 40px;
      margin: 4px;
      border-radius: 2px;
      transition: ease .2s;

    }

    .nav-buttons {
      background: $dark-teal;
      width: 50vw;
      height: 100vh;
      position: absolute;
      top: 0;
      right: -50vw;
      padding: 80px 10px 10px 10px;
      display: flex;
      flex-direction: column;
      transition: ease .5s;
      z-index: 100000000;

      a {
        color: $light-cream;
        width: 100%;
        font-size: 20px;
      }

      .current {
        color: $dark-green-gray-2;
      }
    }

    .menu-slide {
      transition: ease .5s;
      right: 0;
    }

    .menu-click {
      transform: rotate(360deg);

      .line-1 {
        position: relative;
        top: 12px;
        transform: rotate(45deg);
        border-top: 4px solid $light-cream;
      }

      .line-2 {
        opacity: 0;
      }

      .line-3 {
        position: relative;
        bottom: 12px;
        transform: rotate(-45deg);
        border-top: 4px solid $light-cream;
      }
    }
  }

  nav {
    height: 70px;
  }

  .nav-buttons {
    flex-flow: nowrap;

    a {
    font-size: 12px;
    }
  }

  .nav-logo {
    font-size: 16px;
    line-height: 24px;
  }

  .menu {
    position: absolute;
    top: 20px !important;
  }

  div.content-map {
    max-width: 100vw;
    min-height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    overflow: hidden;

    .map-page {
      width: 100vw;
      min-height: 1000px;
      // height: calc(100vh - 90px);
      position: absolute;
      top: -200px;
      left: 0;
      overflow: scroll;
      display: flex;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .button-container {
    .apartments-up {
      background: $light-cream;
      border: 2px solid $dark-pink;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: block;
      position: absolute;
      top: 67.5vh;
      right: calc(44vw);
      z-index: 10000;
      transition: ease .5s;
      // left: 50vw;

      p {
        color: $dark-green-gray-2;
        font-size: 40px;
        position: relative;
        // top: 8px;
        z-index: 10000000;
      }
    }

    .slide-button {
      top: 12.5vh;
      transform: rotate(180deg);
    }
  }

  .right-container {
    border-top: 2px solid $dark-pink;
    position: relative;
    top: 70vh;
    width: 100vw;
    height: calc(33vh - 90px);
    transition: ease .5s;

    h1 {
      font-size: 24px;
    }
  }

  .slide-container {
    height: calc(85vh - 60px);
    top: 15vh ;
  }







//ABOUT US PAGE








  .about-us-page {
    position: relative;
    top: 70px;
    max-width: 100vw;
    overflow: hidden;


    img {
        z-index: 0;
    }

    & > div {
        height: calc(100vh - 65px);
        min-height: 600px;
        position: relative;
        align-items: flex-start;
        justify-content: center;
    }

    a {
        bottom: -25px;
        right: 25px;
        transition: ease .3s;

        &:hover {
            background: $light-cream;
        }
    }

    .about-us-intro {
        display: flex;
        align-items: center;

        .about-us-intro_blurb {
            position: relative;
            top: 0;
            left: 0;
            align-items: center;
        }

        span {
            color: $mid-pink;
        }

    }

    .about-us-map, .about-us-ratings {
        & p {
            color: $white;
            position: relative;
            left: 20px;
        }

        img {
            position: absolute;
            left: -20px;
            bottom: 0;
            width: 110vw;
            height: auto;
            transition: ease 2s;
            transform: translateX(0);
        }

        #ratings_blurb {
            max-width: 750px;
            bottom: 0%;
        }
    }

    .about-us-faq {
      left: 0;
    }

    .about-us-map, .about-us-ratings, .about-us-faq {
      justify-content: flex-end;
      position: relative;

      .about-us-section_blurb{
          width: 100vw;
          min-width: 300px;
          max-width: 600px;
          padding: 40px;
          z-index: 1;
          position: relative;
          left: 0;
          bottom: 2vh;
      }

      & h3 {
          background: $light-teal;
          padding: 10px 30px;
          width: 100%;
          position: relative;
          margin: 10px 0;
          text-align: left;
          font-size: 22px;
          position: relative;
          left: -10vw;
          padding-left: 40px;
      }

      h1 {
        margin: 0;
        font-size: 30px;
      }

      & p {
        font-size: 18px;
        position: relative;
        left: 20px;
      }

      img {
        position: absolute;
        left: -20px;
        bottom: 0;
        width: 110vw;
        height: auto;
        transition: ease 2s;
      }

      a {
        font-size: 18px;
          bottom: -25px;
          left: 50px;
          max-width: 205px;
          text-align: center;
      }
      
    }
  
    .about-us-faq img {
      width: 120vw;
      transform: translateX(0);
    }
  }








  //FAQ










  .faq-page {
    top: 60px;

    .faq-intro {
      height: calc(100vh - 60px);
      
      .faq-text {
        left: 13vw;
        top: 10vh;

        h1 {
          font-size: 50px;
          line-height: 60px;
        }

        h4 {

        }

        #asked {
          position: relative;
          right: 30px;
      }

      #questions {
          position: relative;
          left: 30px;
      }
      }

      .faq-buttons {
        width: 100%;
        top: 40%;

        a {
          font-size: 20px;
          padding: 10px 15px;
          white-space: nowrap;


          div {
            height: 25px;
            width: 25px;
            min-height: 25px;
            min-width: 25px;
            top: 2px;

            span {
              font-size: 25px;
              left: 8px;
              bottom: 8px;
            }
          }
        }

        .repair-button {
          top: 38%;
          left: 20%;
        }

        .pest-button {
          top: 20%;
          left: 50%;
        }

        .security-button {
          top: 55%;
          left: 70%;
        }

        .tenants-button {
          top: 70%;
          left: 40%;
        }
      }

      img {
        transform: translate(0);
        max-width: 175%;
        height: auto;
        max-height: 80vh;
        position: absolute;
        bottom: 0;
        left: -10vw;
      }
    }
  }

  .accordian-container {
    width: 100vw;
    left: 0;
  }

  .accordion {
    min-height: 30px;
  }

  button.accordion{
    font-size: 16px;
  }

  .dropdown {
    li, p, a{
      font-size: 16px;   
    }
  }
}
