@media screen and (max-width: 600px) {

  nav {
    height: 60px;
  }

  .nav-buttons {
    flex-flow: nowrap;

    a {
    font-size: 12px;
    }
  }

  div.content-map {
    max-width: 100vw;
    min-height: calc(100vh - 100px);
    height: 200vh;
    .map-page {
      width: 100vw;
      min-height: 1000px;
      // height: calc(100vh - 90px);
      position: absolute;
      top: -150px;
      left: 0;
      overflow: scroll;
      display: flex;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .right-container {
    position: relative;
    top: 400px;
    width: 100vw;
    height: 150vh;

    h1 {
      font-size: 24px;
    }
  }
}
