@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome */
    .myClass {
     color:red;
    }

    /* Safari only override */
    ::i-block-chrome, input[type="radio"]{
      appearance: none;
      display: none
    }
}
