@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari only override */
    ::i-block-chrome, input[type="radio"]:hover {
      appearance: none;
      display: none
    }

    ::i-block-chrome, input[type="radio"] {
      appearance: none;
      display: none
    }

    ::i-block-chrome, input[type="radio"] {
      position: relative;
      left: 5px;
    }

}
