@media screen and (max-width: 1550px){
  .about-us-page .about-us-map {
    img {
      position: absolute;
      left: 750px;
      bottom: 0;
      height: 110%;
  }
  }
}

@media screen and (max-width: 1300px) {
  .about-us-page .about-us-ratings {
    img {
      position: absolute;
      left: 300px;
      bottom: 0;
      height: 110%;
  }
  }
}

@media screen and (max-width: 1150px) {
  .right-container{
    width: 38vw;
  }

  .base-content .apartment-card-container{
    column-count: 1;
  }

  .about-us-page {
    .about-us-map, .about-us-ratings {
      background-color: $teal;

      .about-us-section_blurb{
          width: 80%;
          min-width: 400px;
          max-width: 600px;
      }
    }

    img {
      transform: translateX(-100px);
    }
  }
}

@media screen and (max-width: 1000px) {
  .about-us-page {

    .about-us-intro {

      h1 {
          text-align: left;
      }

    }

    .about-us-map, .about-us-ratings {
      background-color: $teal;

      .about-us-section_blurb{
          width: 80%;
          min-width: 400px;
          max-width: 500px;
      }

      h3 {
        font-size: 20px;
        right: 560px;
      }
    }

    img {
      transform: translateX(-200px);
    }
  }
}
