* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background: $light-cream;
  padding: 0;
  margin: 0;
}

a {
  font-family: $jost;
  font-size: 20px;
  color: $dark-green-gray;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $poppins;
  color: $dark-green-gray-2;
}

p, td, th, li, button {
  font-family: $jost;
  color: $dark-green-gray;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

hr {
  border: .5px solid $blue-gray;
}

.rating {
  font-size: 18px;
}
